.container {
    background-color: #f7fafc;
    padding: 1rem;
    border-right: 1px solid #e2e8f0;
    height: 100%;
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container li {
    padding: 1rem;
    cursor: pointer;
    font-weight: 600;
    color: #4a5568;
    border-bottom: 1px solid #e2e8f0;
}

.container li:hover {
    background-color: #edf2f7;
}
