.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.aiContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.aiImage {
  flex: 1;
  position: relative;
}

.aiImage img {
  max-width: 100%;
}

.speechBubble {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.speechBubble p {
  margin: 0;
}

.calculatorContainer {
  flex:1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGroup h4 {
  margin-bottom: 0.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.inputGroup input,
.inputGroup select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button {
  padding: 1rem;
  background-color: var(--medium-blue);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--light-blue);
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.result {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f0f8ff;
  border-radius: 8px;
  text-align: center;
}

.recommendation {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e8f0;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: relative;
  overflow: hidden;
  background-color: white;
  transition: transform 0.3s, box-shadow 0.3s ease;
}

.recommendation:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.recommendation {
  width: 70%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
  position: relative;
}

.recommendation img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 20px 100px #2600fffe);
}

.recommendation:hover img {
  transform: scale(1.05);
}

.recommendation .text__container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 180px;
}

.recommendation .text__container h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1e293b;
  margin: 0;
  line-height: 1.2;
  height: 3rem; /* 2 lines */
  overflow: hidden;
  text-overflow: ellipsis;
}

.recommendation .text__container a {
  display: block;
  padding: 1rem 1.5rem;
  background-color: var(--light-blue);
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.recommendation .text__container a:hover {
  background-color: var(--medium-blue);
}

.thinking {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.thinking::before,
.thinking::after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--medium-blue);
  border-radius: 50%;
  animation: thinking 1.4s infinite ease-in-out both;
}

.thinking::before {
  animation-delay: -0.32s;
}

.thinking::after {
  animation-delay: -0.16s;
}

@keyframes thinking {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .aiContainer {
    flex-direction: column;
  }

  .speechBubble {
    position: static;
    transform: none;
    margin-top: 1rem;
    width: 100%;
  }
}

.sparksOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

