.button {
    background-color: var(--light-blue);
    padding: 1rem 1rem;
    border-radius: 100px;
    cursor: pointer;
  }

  .button a {
    color: var(--white) !important;
    text-transform: uppercase;
    font-family: var(--font-family-lato);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
  }