.container {
  display: flex;
  height: 100vh;
  background-color: #2d3748;
  overflow: hidden;
  flex-direction: row;
}

/* Botón hamburguesa */
.menuToggle {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #38a169;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
  z-index: 2000;
  cursor: pointer;
  display: none;
}

/* Panel lateral */
.panel__container {
  width: 250px;
  background-color: #1a202c;
  color: #e2e8f0;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

.panel__container h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.panel__options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.panel__options li {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid #919191;
}

.panel__options li svg {
  margin-right: 8px;
  font-size: 20px;
  color: #e2e8f0;
}

.panel__options li:hover {
  background-color: #4a5568;
}

.panel__options li a {
  text-decoration: none;
  color: #e2e8f0;
  font-size: 16px;
}

.panel__options li.active {
  background-color: #38a169;
}

.panel__options li.active a {
  color: #fff;
}

.content__container {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  overflow-y: auto;
}

/* Responsive */
@media (max-width: 768px) {
  .menuToggle {
    display: block;
  }

  .panel__container {
    left: -100%;
    width: 250px;
    top: 0;
    height: 100%;
  }

  .panel__container.open {
    left: 0;
  }

  .content__container {
    margin-left: 0;
    width: 100%;
    padding-top: 60px;
  }
}
