.footer {
    background-color: var(--dark-blue);
    background: 
  radial-gradient(circle at 0% 0%, #A6E1FA80, transparent 40%),
  radial-gradient(circle at 100% 100%, #A6E1FA80, transparent 40%),
  radial-gradient(circle at 50% 50%, var(--dark-blue), var(--dark-blue) 100%);

    color: var(--pale-blue);
    font-family: var(--font-family-lato);
    padding: 3vw 0 0
}

.footer__container {
    margin: 0 auto;
    max-width: 1200px
}

.footer__content {
    display: flex;
    flex-wrap: wrap
}

.footer__items {
    padding: 0 1.5vw;
    width: 25%
}

.footer__items h3 {
    border-bottom: 2px solid var(--pale-blue);
    color: var(--pale-blue);
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.5vw;
    padding: .5vw
}

.address,
.service__hours {
    display: grid;
    gap: 1vw;
    grid-template-columns: 10% 90%;
    height: 50px;
    margin-bottom: 1.5vw;
    width: 100%
}

.service__hours {
    grid-template-rows: 50% 50%
}

.service__hours svg {
    grid-column: 1;
    grid-row: 1/3
}

.saturday {
    grid-column: 2;
    grid-row: 2;
    margin-top: 2px
}

.address svg,
.service__hours svg {
    background-color: var(--pale-blue);
    border-radius: 50%;
    color: var(--dark-blue);
    display: inline-block;
    font-size: 2rem;
    margin: 0 1vw 1vw 0;
    padding: 5px;
    text-align: center;
    transition: all .3s ease
}

.footer__items nav ul li a {
    text-decoration: none
}

.footer__items nav ul li a,
.footer__items span a {
    color: var(--pale-blue);
    display: block;
    margin-bottom: 1vw;
    transition: all .3s ease
}

.footer__items a span {
    color: var(--pale-blue);
    display: block;
    margin-bottom: 1vw;
    transition: all .3s ease
}

.footer__items nav ul li a:hover {
    color: var(--white);
    padding-left: .5vw
}

.footer__items .contact {
    gap: 1vw;
    margin-bottom: 1.5vw;
    width: 100%
}

.footer__items img {
    margin-bottom: 1.5vw;
    width: 60%
}

.social__media {
    padding-left: 5px;
    width: max-content
}

.social__media a svg {
    background-color: var(--pale-blue);
    border-radius: 50%;
    color: var(--dark-blue);
    display: inline-block;
    font-size: 2rem;
    margin: 0 1vw 1vw 0;
    padding: 5px;
    text-align: center;
    transition: all .3s ease
}

.social__media a svg:hover {
    background-color: var(--white);
    color: var(--medium-blue);
    transition: all 1s ease
}

.footer__feed {
    display: none;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
    padding: 3vw;
    width: 100%;
}

.providers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.providers img {
    width: 30%;
    height: 100px;
    object-fit: contain;
}

.footer__info {
    padding: 3vw;
    text-align: center;
    width: 100%;
    height: max-content;
}

.footer__info a {
    color: var(--pale-blue)
}

@media (width <=768px) {
    .footer {
        width: 100%
    }

    .footer__container {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%
    }

    .footer__content {
        gap: 3vw;
        width: 90%
    }

    .footer__items {
        padding: 2vw;
        width: 100%
    }

    .footer__items img {
        width: 45%
    }

    .footer__items h3 {
        font-size: 1rem;
        margin-bottom: 20px
    }

    .footer__info p,
    .footer__items a,
    .footer__items p,
    .footer__items span {
        font-size: .9rem
    }
}

@media (min-width:768px) and (max-width:1104px) {

    .footer,
    .footer__container {
        align-items: center;
        justify-content: center
    }

    .footer__container {
        display: flex;
        width: 90%
    }

    .footer__items {
        padding: 1vw;
        width: 50%
    }
}