.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
.snowflake {
    color: #3498db;
    animation: spin 2s linear infinite;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }