.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  text-align: center;
}

.continueShopping {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--light-blue);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
}
