.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #2d3748; /* Fondo oscuro */
  color: #c2c2c2; /* Texto claro */
}

/* Tabla */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #4a5568; /* Bordes más suaves */
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #4a5568; /* Fondo gris oscuro para las cabeceras */
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Botones de acción */
.editButton {
  background-color: #3b82f6;
  color: #e2e8f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}

.editButton:hover {
  background-color: #2563eb;
}

.deleteButton {
  background-color: #ef4444;
  color: #e2e8f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.deleteButton:hover {
  background-color: #dc2626;
}

/* Mensaje de carga */
.loading {
  text-align: center;
  font-weight: bold;
  color: #e2e8f0;
}

/* Productos seleccionados */
.selectedProducts {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #4a5568;
  border-radius: 5px;
  background-color: #1a202c; /* Fondo más oscuro */
}

.selectedProducts h3 {
  margin-bottom: 10px;
  color: #e2e8f0;
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 1vw;
}

.pagination span {
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
  color: #e2e8f0;
}

.pagination button {
  background-color: #38a169;
  color: #e2e8f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}

.pagination button:hover:not(:disabled) {
  background-color: #2f855a;
}

.pagination button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

/* Botón agregar producto */
.add__product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  padding: 1vw;
  margin-top: 20px;
}

.add__product__button {
  background-color: #38a169;
  color: #e2e8f0;
  border: none;
  width: 140px;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  font-size: .9rem;
}

.add__product__button:hover {
  background-color: #2f855a;
}

/* Barra de búsqueda */
.searchBar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 1vw;
  margin-top: 20px;
}

.searchBar input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #4a5568;
  background-color: #2d3748; /* Fondo oscuro */
  color: #e2e8f0;
}

.searchBar svg {
  font-size: 24px;
  color: #38a169;
  cursor: pointer;
}
