.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.loadMoreBtn {
  background-color: var(--light-blue);
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.loadMoreBtn:hover {
  background-color: var(--medium-blue);
}

.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}