.profileLayoutContainer {
  display: flex;
  background-color: #F8F8F8;
}

.profileContent {
  flex-grow: 1;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
