.header {
    align-items: center;
    border-bottom: 2px solid #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header img {
    height: 80px;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    margin: 20px auto;
    max-width: 800px;
    padding: 40px;
}

.sectionTitle {
    background-color: #f2f2f2;
    border-left: 5px solid var(--light-blue);
    font-size: 1.2em;
    font-weight: 700;
    margin: 20px 0 10px;
    padding: 10px;
}

.infoSection, .detailsTable {
    border-collapse: collapse;
    width: 100%;
}

.infoSection th, .infoSection td, .detailsTable th, .detailsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.infoSection th {
    background-color: #f9f9f9;
    width: 150px;
}

.detailsTable th {
    background-color: #f9f9f9;
    width: 200px;
}

.highlight {
    background-color: #ffc;
}

.signatureBlock {
    margin-top: 50px;
    text-align: center;
}

.signatureBlock img {
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.signatureLine {
    border-bottom: 2px solid #000;
    margin: 0 auto 10px;
    width: 300px;
}

.footer {
    border-top: 1px solid #eee;
    color: #777;
    font-size: .9em;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
}
