.mainLayout {
  display: flex;
}

.mainContent {
  flex-grow: 1;
  background-color: #f8fafc;
  width: 100%;
}

.content {
  padding: 1.5rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }
}
