.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
  margin-right: 1rem;
}

.searchBar input {
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
}

.filters {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filters input,
.filters select {
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  height: 42px;
}

.filterButton {
  background-color: var(--light-blue);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
  height: 42px;
}

@media (max-width: 768px) {
  .filterBar {
    flex-direction: column;
    gap: 1rem;
  }

  .searchBar {
    width: 100%;
    margin-right: 0;
  }

  .filters {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .filters input,
  .filters select {
    width: 100%;
  }
}
