

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.woff') format('woff'),
         url('./assets/fonts/Lato-BlackItalic.woff') format('woff'),
         url('./assets/fonts/Lato-Bold.woff') format('woff'),
         url('./assets/fonts/Lato-BoldItalic.woff') format('woff'),
         url('./assets/fonts/Lato-Hairline.woff') format('woff'),
         url('./assets/fonts/Lato-HairlineItalic.woff') format('woff'),
         url('./assets/fonts/Lato-Italic.woff') format('woff'),
         url('./assets/fonts/Lato-Light.woff') format('woff'),
         url('./assets/fonts/Lato-LightItalic.woff') format('woff'),
         url('./assets/fonts/Lato-Black.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sentient';
    src: url('./assets/fonts/Sentient-Regular.woff2') format('woff2'),
         url('./assets/fonts/Sentient-Regular.woff') format('woff'),
         url('./assets/fonts/Sentient-Regular.ttf') format('truetype'),
         url('./assets/fonts/Sentient-Regular.eot'); /* Para IE9 */
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
  }

:root {
    --white: #ffffff;
    --dark-blue: #00072D;
    --medium-dark-blue: #001C55;
    --medium-dark-blue-alpha: #001c5533;
    --medium-blue: #0A2472;
    --light-blue: #0E6BA8;
    --pale-blue: #A6E1FA;
    --contrast-blue: #97becf;

    --font-family-sentient: 'Sentient', sans-serif;
    --font-weight-normal: normal;
    --font-style-normal: normal;

    --font-family-lato: 'Lato', sans-serif;
    
    --font-weight-black: 900;
    --font-style-black: normal;
    --font-style-black-italic: italic;
    
    --font-weight-bold: 700;
    --font-style-bold: normal;
    --font-style-bold-italic: italic;
    
    --font-weight-hairline: 100;
    --font-style-hairline: normal;
    --font-style-hairline-italic: italic;
    
    --font-weight-italic: normal;
    --font-style-italic: italic;
    
    --font-weight-light: 300;
    --font-style-light: normal;
    --font-style-light-italic: italic;
    
    --font-weight-regular: normal;
    --font-style-regular: normal;
}

body{
    width: 100%;
    height: 100vh;
}

#root{
    width: 100%;
    height: 100%;
}

.decimal-part {
  font-size: 0.8em; /* Make decimal part smaller */
  /* vertical-align: super; */ /* Removed vertical-align */
}
